<div style="display:inline-block">
{% if theme.footer.beian_mod.enable %}{#
#}  {{ next_url('http://www.miitbeian.gov.cn', theme.footer.beian_mod.icp ) }}
{% endif %}
</div>
<div style="display:inline-block">
{% if theme.footer.beian_mod.enable %}{#
#} <img src="{{ theme.footer.beian_mod.gongan_icon_url }}" align="center" height="18" width="18" style="display:inline-block;"/>
{{ next_url('http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=' + theme.footer.beian_mod.gongan_id,
  theme.footer.beian_mod.gongan_num + ' ') }}{#
#}{% endif %}
</div>
